:root {
  --main-color: #e6e6fa;
  --background-color: #e8e8e8;
  --font-family: 'Arial', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-image: url(/static/deps/images/bg.png);
  /* background-color: var(--background-color); */
  color: var(--main-color);
  font-family: var(--font-family);
}

.my_btn {
    color: var(--main-color);
    background-color:rgb(46, 46, 46);
}

:root {
    --main-color: #e6e6fa;
    --background-color: #e8e8e8;
    --font-family: 'Arial', sans-serif;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--font-family);
  }
  
  .my_btn {
      color: var(--main-color);
      background-color:rgb(46, 46, 46);
  }
  

.container {
  margin-top: 40px;
}

.my_cards{
  background-color: rgb(28, 28, 28);
  color: rgb(202, 196, 196);
  height: 16rem;
  width: 20rem;
  padding: 0px;
  margin: 5px;
}

svg {
  width: 25px;
  height: 25px;
  fill: rgb(255, 240, 240);
}
img {
  width: 25px;
  height: 25px;
  fill: rgb(255, 240, 240);
  color: #0000ff;
}

h1 {
    color: black;
}

a {
  text-decoration: none;
}

a .iconify{
  height: 30px;
  width: 30px;
  color: rgb(92, 59, 200);

  background-color: #3021b552;
  border-radius: 6px;
  margin: 5px;
}

li{
  padding: 12px;
}
.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%; /* Растягиваем панель на всю ширину экрана */
  background-color: #2922221b;
  padding: 10px;
  text-align: center;
  /* border-top: 1px solid #000000;  */
}

